*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: 'OpenSans';
}

html,body{
	height: 100%;
}

@font-face{
	font-family: 'OpenSans';
	src:url("../fonts/OpenSans-Light.ttf");
}

.clear{
	clear: both;
}
.center{
	width: 100%;
	margin: 0 auto;
}
.header{
	padding:0 2%;
	width: 100%;
	height: 60px;
	background-color: #212343;
}
.header img{
	margin-top: -20px;
	height: 100px;
	width: 100px;
}
div.container-banner{
	padding: 0 2%;
	width: 100%;
	height: 557px;
	background-image: url('../images/header_bg.png');
	background-size: cover;
	background-position: center;
}
.container-banner > .center{
	height: 100%;
	max-width: 1280px;
}
.form{
	padding:10px;
	float: right;
	width: 400px;
	height: calc(100% + 30px);
	position: relative;
	top: -15px;
	border:12px solid rgba(120,120,120,0.5);
	background-color: white;
	background-clip: padding-box;
	/*background-origin: Tem o mesmo conceito porem serve para imagens.*/
}
.form h2{
	font-size: 21px;
	color: #999999;
	font-weight: normal;
}
div.input-container{
	margin-top: 20px;
	text-align: center;
}
div.input-container span,form p {
	margin-left: 10px;
	display: inline-block;
	width: 100%;
	font-size: 17px;
	color: #bbbbbb;
	font-weight:normal;
	text-align: left;
}
.form p{
	text-align: left;
	margin: 20px 0;
}
div.input-container input[type=text]{
	font-size: 18px;
	font-style: italic;
	margin-top: 8px;
	display: inline-block;
	width: 344px;
	height: 55px;
	border:1px solid #ccc;
}
div.input-container input[type=text]:focus{
	outline: 0;
}
form > div.input-submit-container{
	text-align: center;
}
.form input[type=submit]{
	color: white;
	font-size: 25px;
	width: 280px;
	height: 56px;
	display: inline-block;
	background-color: #363a6d;
	cursor: pointer;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 5px solid #4a5097;
}
.form input[type=submit]:hover{
	background-color: #323665;
}
/*Container list do banner*/
div.container-list{
	padding:30px;
	float: left;
	width: 519px;
	height: 270px;
	background-color: rgba(33,35,67,0.7);
	margin-top: 100px;
}
.container-list ul{
	list-style-position: inside;
}
.container-list > ul > li{
	margin-top: 18px;
	color: white;
}
/* Container de Informacoes gerais sobre o curso.*/
div.container-2{
	border-bottom: 2px solid #ccc;
	padding: 40px 2%;
	background-color: rgb(250,250,250);
	text-align: center;
}
div.container-2 > div.center h2{
	font-weight: normal;
}
.container-2 p {
	margin: 15px 0;
	width: 80%;
	max-width: 768px;
	display: inline-block;
	text-align: justify;
}
/*Imagem da setinha*/
.arrow{
	position: relative;
	top: 60px;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	background-image: url("../images/arrow.png");
	background-size: 100% 100%;
}
/*Section 1*/
.section-1{
	padding:90px 2%;
}
.section-1 h2{
	text-align: center;
	color: #462663;
	font-weight: normal;
}
/*container que vai conter os modulos*/
.container-section{
	margin-top: 40px;
	text-align: center;
}
/*container de modulos*/
.container-single{
	float: left;
	width: 33.33%;
	padding: 50px;
}
.container-single > div img{
	width: 70px;
}
.container-single > div.text-container-single p {
	display: inline-block;
	padding: 10px 2px;
	text-align: justify;
	
}
/*Rodapé da landing page*/
.footer{
	border-top: 2px solid #888888;
	padding:30px 0;
	text-align: center;
	color:#888;
}
.footer p {
	margin-top: 8px;
}
/*Trabalhando com o responsivo.*/

@media screen and (max-width: 1024px) {
	.header{
		height: auto;
		padding:15px;
		width: 100%;
		text-align: center;
	}
	.header img{
		margin: 0;
	}
	div.container-list{
		margin-right: 1%;
		padding:30px 0;
		float: left;
		width: 49%;
		max-width: 500px; 	
		height: auto;
		background-color: rgba(33,35,67,0.7);
	}

	div.container-banner{
		width: 100%;
		padding:40px 2%;
		height: auto;
		text-align: center;
	}
	.form{
		margin-top: 30px;
		padding:10px;
		float:right;
		max-width: 400px;
		width: 50%;
		height: 100%;
		position: relative;
		top:0;
	/*background-origin: Tem o mesmo conceito porem serve para imagens.*/
	}

	div.input-container input[type=text]{
		width: 100%;
		height: 55px;
	}
	.form input[type=submit]{
		max-width: 280px;
		width: 100%;
		height: 56px;
		display: inline-block;
	}
}

@media screen and (max-width: 768px){
	.form{
		float: none;
		display: inline-block;
		width: 90%;
	}
	div.container-list{
		margin-top: 0;
		float: none;
		display: inline-block;
		width: 100%;
	}
	.container-single{
		float: none;
		width: 100%;
		max-width: 600px;
		padding: 30px 4%;
		display: inline-block;
	}
	.container-2 p {
		margin: 15px 0;
		width: 80%;
		max-width: 768px;
		display: inline-block;
		text-align: justify;
	}

}
@media screen and (max-width: 840px){
	.container-single{
		float: none;
		width: 100%;
		max-width: 600px;
		padding: 30px 4%;
		display: inline-block;
	}
}